/* MENU HEADER */
#primary {
    margin: 0px !important;
}

#menu-item-299 {
    order: 1 !important;
}

#menu-item-298 {
    order: 3 !important;
}
#menu-item-298 a {
        color: white;
        font-family: 'Syne';
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        background-color: #DC9F96;
        padding: 30px 61px 31px 61px;
}

#menu-item-298 a:hover {
        background-color: #C02E44;
}
    
#menu-item-299 a {
        font-family: 'Syne';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
}

@media screen and (min-width: 922px) {
#menu-item-300 a {
    font-family: 'Syne';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
}
#menu-item-300 a:hover{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
#menu-item-300 {
    order: 2 !important;
    display: flex;
    align-items: center;
    padding: 31px 61px 30px 60px;
}
}

@media screen and (max-width: 921px) {
    #menu-item-300 a {
        color: black;
        padding: 0px 20px;
    }
    #ast-hf-mobile-menu a:hover{
        background-color: transparent;
        color: black;
    }
    #ast-hf-mobile-menu a{
        color: black;
    }
}

#menu-item-299 a:hover{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.site-primary-header-wrap {
    margin: 0px !important;
    padding: 0px !important;
}

/* -----------------------*/ 

/* ---------------------------------PAGE ACCUEIL--------------------------------------------- */

#pamplemousse {
    word-wrap: break-word;
}

#framboise {
    word-wrap: break-word;
}

@media screen and (min-width: 768px) and (max-width: 848px){
    #fruits h2{
        font-size: 40px;
    }
}
/* --------------------------------NOUS RENCONTRER--------------------------------------------*/

/* FORM */

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementor-widget-container h2 {
    color: #D2776A;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
}

.description-planty {
    display: flex;
    justify-content: center;
}
.description-planty p {
    width: 669px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .nous-contacter-form {
        width: 100% !important;
    }
}
/* ---------------------------------------COMMANDER-------------------------------------*/
/* BOUTON COMMANDE */
.html-commande {
    display: flex;
}

.boutons {
    display: flex;
    flex-direction: column;
}
.boutonplus, .boutonmoins {
    padding: 3px 10px 4px 10px !important;
    background-color: #DC9F96 !important;
}

.boutonplus {
    border-bottom: 1px solid white !important;
    border-radius: 0px 5px 0px 0px !important;
}

.boutonmoins {
    border-radius: 0px 0px 5px 0px !important;
}

.number {
    background-color: white !important;
    padding: 11px 20px 10px 21px !important;
    border-radius: 5px 0px 0px 5px !important;
}

.number p {
    margin: 0px !important;
}

/* RESPONSIVE */

@media screen and (min-width: 902px) and (max-width: 1024px) {
    #framboise-commander .elementor-widget-container{
        padding: 50px 23px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #fruits-commander .elementor-widget-wrap {
        display: flex;
        flex-direction: column;
    }

    .html-commande {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .boutons {
        display: flex;
        flex-direction: row;
    }

    .number {
        border-radius: 5px 5px 0px 0px !important;
        display: flex;
        justify-content: center;
        padding: 2px 0px !important;
    }
    
    .boutonplus {
        border-radius: 0px 0px 0px 5px !important;
        border-right: 1px solid white !important;
        border-bottom: none !important;
        padding: 3px 0px !important;
        width: 50% !important;
    }

    .boutonmoins {
        padding: 3px 0px !important;
        width: 50% !important;
    }
}

@media screen and (max-width: 767px) {
        .number {
            border-radius: 5px 0px 0px 5px!important;
            font-size: 20px !important;
            padding: 12px 25px 12px 26px !important;
        }
        .boutons {
            flex-direction: row;
        }

        .boutonmoins {
            border-radius: 0px 5px 5px 0px!important;
            padding: 1px 30px 2px 30px!important;
            font-size: 35px !important;
        }

        .boutonplus {
            border-bottom: none !important;
            border-right: 1px solid White !important;
            border-radius: 0px !important;
            padding: 1px 30px 2px 30px!important;
            font-size: 35px !important;
        }

        #fruits-commander .elementor-widget-wrap {
            display: flex;
            justify-content: space-between;
        }

        .html-commande {
            justify-content: center;
        }

        .form {
            flex-direction: column !important;
            align-items: center !important;
        }

        .livraison {
            border-left: none !important;
            padding-left: 0px !important;
            
        }

        .info {
            padding-right: 0px !important;
        }
        
}

@media screen and (min-width: 320px) and (max-width: 500px) {
        #fruits-commander .elementor-widget-wrap{
            flex-direction: column;
        }
        #fruits-commander .elementor-widget-html {
            width: 100% !important;
            max-width: 100% !important;
        }
}

/*FORMULAIRE COMMANDE*/
@media screen and (min-width: 768px) {
    .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


@media screen and (min-width: 768px) {
    .livraison {
        border-left: 1px solid white !important;
        padding-left: 44px !important;
        height: 455px;
    }

    .info {
        padding-right: 45px !important;
    }
}

@media screen and (max-width: 400px) {
}
.form h2 {
    color : white;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 29px;
}

.bouton-form {
    display: flex !important;
    justify-content: center !important;
}

.bouton-form p {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .commander-form {
        width: 100% !important;
    }
}

/*--------------------------------------------FOOTER-------------------------------------------*/

.lien-footer a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}